$body-bg: #eff0f8;
$body-color: #6f6f6f;
$primary-color: #0000ff;
$primary-hover-color: #0000ff;
$secondary-color: #272727;
$secondary-gray: #484747;
$section-title-color: #696f9f;
$label-color: #757575;
$input-color: #282828;
$border-color: #d4d5e2;
$pagerbg-color: #eeeff7;
$pageractive-color: #f04634;
$record-color: #a8acc9;
$section-border-color: #e5e6ed;
$tabbg-color: #e3e4f1;
$tabactive-color: #1056a8;
$white-color: #ffffff;
$black-color: #000000;
$lightgray-color: #f2f3f9;
$darkgray-color: #484848;
$graymaster-color: #f9f9fc;
$cyan-color: #0ca598;
$indigo-color: #7e50df;
$blue-color: #161b54;
$darkblue-color: #5d5f79;
$unknown-color: #4b6584;
$danger-color: #e60e0e;
$success-color: #4ba514;
$cancel-color: #eb3b5a;
$onhold-color: #1e90ff;
$inprogress-color: #d8952c;
$completed-color: #20bf6b;

$font-roboto: "Roboto", sans-serif;
$font-normal: 400;
$font-bold: 700;
$rem-basefont: 14px;
$font11: 11px;
$font12: 12px;
$font13: 13px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font17: 17px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font25: 25px;
$font28: 28px;
$font30: 30px;
$font36: 36px;
$font38: 38px;

$lineheight10: 1;
$lineheight12: 1.2;
$lineheight14: 1.4;
$lineheight16: 1.6;

// Responsive breakpoints
$desktop-wide: 1440px;
$desktop: 1360px;
$leptop: 1359px;
$tablet-wide: 1199px;
$tablet: 991px;
$phone-wide: 767px;
$phone: 479px;
$info-desktop: "(min-width:1360px) and (max-width:1440px)";
$info-leptop: "screen and (max-width:1359px)";
$info-tabletwide: "screen and (max-width:1199px)";
$info-tablet: "screen and (max-width:991px)";
$info-phonewide: "screen and (max-width:767px)";
$info-phone: "screen and (max-width:479px)";
$ml-2:2px;