<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<div class="card">
  <p-toolbar>
    <ng-template pTemplate="right">
      <button
        pButton
        pRipple
        label="Add Access Group Assignment"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedAccessGroup()"
        [disabled]="!selectedAccessGroup || !selectedAccessGroup.length"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="accessGroupAssignments"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'departmentName',
      'roleName',
      'applicationName',
      'positionName'
    ]"
    [rowsPerPageOptions]="[10, 25, 50]"
    [(selection)]="selectedAccessGroup"
    [rowHover]="true"
    dataKey="accessGroupAssignmentId"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h3 class="p-m-0">Manage Access Group Assignment</h3>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="applicationName">
          Application Name <p-sortIcon field="applicationName"></p-sortIcon>
        </th>
        <th pSortableColumn="departmentName">
          Department <p-sortIcon field="departmentName"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Access Group <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="department">
          Role <p-sortIcon field="department"></p-sortIcon>
        </th>
        <th pSortableColumn="positionName">
          Position <p-sortIcon field="positionName"></p-sortIcon>
        </th>
        <!-- <th pSortableColumn="isActive">
          Person <p-sortIcon field="isActive"></p-sortIcon>
        </th> -->
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th>
          <p-columnFilter type="text" field="applicationName"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="departmentName"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="name"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="roleName"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="positionName"></p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-accessgroupassignment>
      <tr>
        <td>
          <p-tableCheckbox [value]="accessgroupassignment"></p-tableCheckbox>
        </td>
        <td>{{ accessgroupassignment.applicationName }}</td>
        <td>{{ accessgroupassignment.departmentName }}</td>
        <td>{{ accessgroupassignment.name }}</td>
        <td>{{ accessgroupassignment.roleName }}</td>
        <td>{{ accessgroupassignment.positionName }}</td>

        <!-- <td *ngIf="accessgroupassignment.isActive===true; else elseStatement">
          Yes
        </td>
        <ng-template #elseStatement>
         <td>No</td>
        </ng-template> -->

        <td>
          <button
            pButton
            (click)="deleteAccessGroupAssignment(accessgroupassignment)"
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Total {{ accessGroupAssignments ? accessGroupAssignments.length : 0 }} Access Group Assignment.
      </div>
    </ng-template>
  </p-table>
</div>
