<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="right">
      <button
        pButton
        pRipple
        label="New Access Group Assignment"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        [label]="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedAccessGroup()"
        [disabled]="!selectedAccessGroup || !selectedAccessGroup.length"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="products"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'departmentName',
      'description'
    ]"
    [rowsPerPageOptions]="[10, 25, 50]"
    [(selection)]="selectedAccessGroup"
    [rowHover]="true"
    dataKey="accessGroupId"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h3 class="p-m-0">Manage Access Group Assignment</h3>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="application">
          Application <p-sortIcon field="application"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Department <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="description">
          AccessGroup <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="department">
          Role <p-sortIcon field="department"></p-sortIcon>
        </th>
        <th pSortableColumn="isActive">
          Position <p-sortIcon field="isActive"></p-sortIcon>
        </th>
        <th pSortableColumn="isActive">
          Person <p-sortIcon field="isActive"></p-sortIcon>
        </th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th>
          <p-columnFilter type="text" field="application"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="department"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="name"></p-columnFilter>
        </th>
        <th></th> 
        <th></th> 
        <th></th> 
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <!-- <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>PBR</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.departmentName }}</td>
        <td *ngIf="product.isActive===true; else elseStatement">
          Yes
        </td>
        <ng-template #elseStatement>
         <td>No</td> 
        </ng-template>
        
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-warning p-mr-2"
          ></button>
          <button
            pButton
            (click)="deleteProduct(product)"
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            
          ></button>
        </td> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{ products ? products.length : 0 }} AccessGroup.
      </div>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
