<p-menubar [model]="appMenuItem">
  <ng-template pTemplate="start">
    <a [routerLink]="['/']" class="d-flex"
      ><i
        class="pi pi-lock"
        style="font-size: 1.25rem; padding-right: 10px"
      ></i>
      <span class="logo-text">ASM</span></a
    >
  </ng-template>
  <ng-template pTemplate="end">
    <ul class="top-rightnav">
      <li>
        <button pRipple type="button" class="btn-round btn-sm">
          <span class="p-menuitem-icon pi pi-fw pi-bell"></span>
        </button>
      </li>
      <li>
        <button
          class="btn-round avtar-btn btn-sm"
          (click)="menu.toggle($event)"
        >
          <span class="p-menuitem-icon pi pi-fw pi-user"></span>
        </button>
        <p-menu [model]="userMenu" #menu [popup]="true"></p-menu>
      </li>
    </ul>
  </ng-template>
</p-menubar>

<form style="display: none" ngNoForm method="post" [action]="loginLink">
  <input type="hidden" name="redirect_uri" [value]="redirectURLLogin" />
  <input type="hidden" name="client_id" [value]="clientId" />
  <input type="hidden" name="client_key" [value]="clientSecret" />
  <input #loginButton type="submit" name="submit" value="" />
</form>
