<div class="card">
  <p-toolbar>
    <ng-template pTemplate="right">
      <button
        pButton
        pRipple
        label="Add Module"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
      <button
        pButton
        pRipple
        label="Delete"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteSelectedmodules()"
        [disabled]="!selectedmodules || !selectedmodules.length"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="modules"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'code',
      'applicationName',
      'moduleType.name',
      'parentModule.name',
      'isActive'
    ]"
    [rowsPerPageOptions]="[10, 25, 50]"
    [(selection)]="selectedmodules"
    [rowHover]="true"
    dataKey="moduleId"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [resizableColumns]="true"
  >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h3 class="p-m-0">Manage Module</h3>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col style="width: 3%" />
        <col style="width: 11%" />
        <col style="width: 25%" />
        <col style="width: 12%" />
        <col style="width: 14%" />
        <col style="width: 20%" />
        <col style="width: 7%" />
        <col style="width: 8%" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="applicationName">
          Application <p-sortIcon field="applicationName"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="applicationName"
            display="menu"
          ></p-columnFilter>
        </th>
        <th pSortableColumn="name">
          Name <p-sortIcon field="name"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="name"
            display="menu"
          ></p-columnFilter>
        </th>
        <th pSortableColumn="code">
          Code <p-sortIcon field="code"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="code"
            display="menu"
          ></p-columnFilter>
        </th>
        <th pSortableColumn="moduleType.name">
          Type <p-sortIcon field="moduleType.name"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="moduleType.name"
            display="menu"
          ></p-columnFilter>
        </th>
        <th pSortableColumn="parentModule.name">
          Parent Module <p-sortIcon field="parentModule.name"></p-sortIcon>
          <p-columnFilter
            type="text"
            field="parentModule.name"
            display="menu"
          ></p-columnFilter>
        </th>
        <th pSortableColumn="isActive">
          Active <p-sortIcon field="isActive"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-module>
      <tr>
        <td>
          <p-tableCheckbox [value]="module"></p-tableCheckbox>
        </td>
        <td>{{ module.applicationName }}</td>
        <td>{{ module.name }}</td>
        <td>{{ module.code }}</td>
        <td>{{ module.moduleType.name }}</td>
        <td *ngIf="module.parentModule !== null; else elseBlock">
          {{ module.parentModule.name }}
        </td>
        <ng-template #elseBlock>
          <td></td>
        </ng-template>
        <td *ngIf="module.isActive === true; else elseStatement">Yes</td>
        <ng-template #elseStatement>
          <td>No</td>
        </ng-template>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-warning p-mr-2"
            (click)="editModule(module)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
            (click)="deleteModule(module)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Total {{ modules ? modules.length : 0 }} Module.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="moduleDialog"
  [style]="{ width: '450px' }"
  header="Module Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <div class="p-field p-float-label">
    <!-- <label for="application">Application</label> -->
    <p-dropdown
      inputId="application"
      [autoDisplayFirst]="false"
      [options]="application"
      [(ngModel)]="selectedApplication"
      optionLabel="applicationName"
      optionValue="applicationId"
      [showClear]="true"
      [ngClass]="{
        'ng-invalid ng-dirty': submitted && !selectedApplication
      }"
      (onChange)="ParentModule()"
    >
    </p-dropdown>
    <label for="name">Select Application <RequiredFiled></RequiredFiled></label>
    <small class="p-invalid error" *ngIf="submitted && !selectedApplication">
      Application is required.
    </small>
  </div>
  <ng-template pTemplate="content">
    <div class="p-field">
      <span class="p-float-label">
        <input
          id="name"
          type="text"
          pInputText
          [(ngModel)]="module.name"
          required
          [ngClass]="{
            'ng-invalid ng-dirty': submitted && !module.name
          }"
        />
        <label for="name">Name <RequiredFiled></RequiredFiled></label>
      </span>
      <small class="p-invalid error" *ngIf="submitted && !module.name"
        >Name is required.</small
      >
    </div>
    <div class="p-field">
      <span class="p-float-label">
        <input
          id="code"
          type="text"
          pInputText
          [(ngModel)]="module.code"
          [ngClass]="{
            'ng-invalid ng-dirty': submitted && !module.code
          }"
          required
        />
        <label for="code"> Code <RequiredFiled></RequiredFiled></label>
      </span>
      <small class="p-invalid error" *ngIf="submitted && !module.code">
        Code is required.
      </small>
    </div>
    <div class="p-field p-float-label">
      <p-dropdown
        inputId="moduleType"
        [autoDisplayFirst]="false"
        [options]="moduleType"
        [(ngModel)]="selectedModuleType"
        [ngClass]="{
          'ng-invalid ng-dirty': submitted && !selectedModuleType
        }"
        optionLabel="name"
        [showClear]="true"
      >
      </p-dropdown>
      <label for="application" class="p-component"
        >Select Module Type <RequiredFiled></RequiredFiled>
      </label>
      <small class="p-invalid error" *ngIf="submitted && !selectedModuleType">
        Module Type is required.
      </small>
    </div>
    <div class="p-field p-float-label">
      <p-dropdown
        inputId="parentModule"
        [autoDisplayFirst]="false"
        [options]="parentModule"
        [(ngModel)]="selectedparentmodules"
        optionLabel="name"
        optionValue="moduleId"
        [showClear]="true"
      >
      </p-dropdown>
      <label for="parentModule" class="p-component"
        >Select ParentModule 
      </label>
    </div>
    <div class="p-field">
      <label for="moduleType">Active</label>
      <div class="p-field-radiobutton">
        <div class="p-field-radiobutton">
          <p-radioButton
            name="isActive"
            value="true"
            [(ngModel)]="module.isActive"
            inputId="op1"
          ></p-radioButton>
          <label for="true">Yes</label>
        </div>
        <div class="p-field-radiobutton p-ml-3">
          <p-radioButton
            name="isActive"
            value="false"
            [(ngModel)]="module.isActive"
            inputId="op2"
          ></p-radioButton>
          <label for="false">No</label>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      (click)="saveModule()"
      label="Save"
      class="p-button-success"
    ></button>
    <button
      pButton
      type="button"
      (click)="hideDialog()"
      label="Cancel"
      class="p-button-danger p-ml-3"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
