<div class="pagenot-found">
  <div class="container">
    <p>
      You are missing the required rights to <br />be able to access this page
    </p>

    <!-- <a class="btn btn-primary" [href]="signinURL">SIGN IN WITH A DIFFERENT ACCOUNT</a> -->
    <form ngNoForm method="post" [action]="loginLink">
      <!-- <input type="hidden" name="redirect_uri" [value]="redirectURL"> -->
      <input type="hidden" name="client_id" [value]="clientId" />
      <input type="hidden" name="client_key" [value]="clientSecret" />
      <input
        #loginButton
        class="btn btn-primary"
        type="submit"
        name="submit"
        value="SIGN IN WITH A DIFFERENT ACCOUNT"
      />
    </form>
  </div>
</div>
